:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
    }

img {
	max-width: 100%;
    object-fit: cover;
}

body {
    font-family: 'Mooli', 'Arial', 'Helvetica', 'Sans-serif';
    font-size: 1.2em;
}

a:link,
a:visited {
  color: var(--text-light);
}

.menu-btn {
    background-color: #52489c;
    color: var(--text-light);
    font-size: 1.2em;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
}

nav {
    background-color: #52489c;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

nav a {
    padding: 40px;
    display: none;
}

.viewer {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); 
    z-index: 10; 
    justify-content: center; 
    align-items: center; 
    display: grid; 
  }
  
  .viewer .close-viewer {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: white;
    font-size: 2em;
    border: none;
    cursor: pointer;
  }
  
  .modal-img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; 
  }
  

header {
    background-color: #52489c;
    color: var(--text-light);
}

header h1 {
    text-align: center;
}

main h1 {
    text-align: center;
}

footer {
    background-color: #52489c;
    color: var(--text-light);
}

@media screen and (min-width: 700px) {
    .gallery {
      grid-template-columns: 1fr 1fr;
      display: grid;
    }

    nav a{
        display: none;
    }

    .menu-btn {
        text-align: center;  
    }
  }

  @media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
    }

    nav a{
        display: inline-block;
    }

    .menu-btn {
        display: none;  
    }
}