header {
    letter-spacing: .2rem;
    font-weight: bold;
}

.dark {
    background-color: #333;
    color: white;
}

.dark h2 {
    color: rgb(160, 212, 237);
}

footer {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #006EB6;
}

main {
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    max-width: 600px;
    line-height: 1.5;
    height: 100%;
}

img {
    max-width: 150px;
}

#content {
    padding: 100px;
}